
  <table class="table table-hover table-responsive table-striped table-sm">
        <tr width="70px">
            <a href="{{ url_for('user', username = entry.author.username) }}">
                <img src="{{ entry.author.avatar(70) }}" />
            </a>
        </tr>
        <tr>
            {% set user_link %}
            <a href="{{ url_for('user', username = entry.author.username) }}">
                {{ entry.author.username }}
            </a>
            {% endset %}
        </tr>
            <!-- {{ _('%(username)s said %(when)s',
                username = user_link, when = moment(entry.timestamp).fromNow()) }} -->

        <tr width="70px" class="col-md-4">{{ _('%(username)s says', username = user_link)}}:
            <br>{{ _('%(content)s', content = entry.content) }}<br></tr>

        <!-- <tr class="col-md-4"> {{ _('Sentiment') }}: 
            {{ entry.polarity }}</tr>
        <tr class="col-md-4"> {{ _('subjectivity') }}: 
            {{ entry.subjectivity }}</tr>

        <tr class="col-md-3"> {{ _('mood_tags') }}: 
            {{ entry.mood_tags }}</tr>
        <tr class="col-md-3"> {{ _('word_semantics') }}: 
            {{ entry.word_semantics }}</tr>
        <tr class="col-md-3"> {{ _('attention') }}: 
            {{ entry.attention }}</tr>
        <tr class="col-md-3"> {{ _('sensitivity') }}: 
                {{ entry.sensitivity }}</tr> -->
<!--             <tr class="col-md-12"> {{ _('pleasantness') }}: 
                {{ entry.pleasantness }}</tr>
            <tr class="col-md-12"> {{ _('aptitude') }}: 
                {{ entry.aptitude }}</tr>
            <tr class="col-md-12"> {{ _('depression_factor') }}: 
                {{ entry.depression_factor }}</tr> -->

    	<tr><br><br>{{ _('Created On') }}: <br>{{ moment(entry.timestamp).fromNow() }}</tr>
        <tr>
            {% if entry.language and entry.language != g.locale %}
                <br><br>
                <a href="#">{{ _('Translate') }}</a>
            {% endif %}
        </tr>

        <p></p>
    </table>


    <div class="container-fluid">

        {% if -0.5 > entry.polarity %}
        <div class="container-fluid bg-primary text-white">
            <h1><b>We hope things get better soon. <br> - Love, WriteMind</b></h1>
            <p>If you feel you need to reach someone please do! :) We all care.</p>
            <p>National Suicide Hotline: 1-800-273-8255</p>
        </div>
        {% endif %}

        <br><br><br>
        {% if all_or_none %}
            <div class="container-fluid bg-warning mb-200">
                <h2>We've Detected Some All or Nothing Thinking:</h2>
                    <p>This is a common fallacy also known as "black and white" thinking. We hope that you remember, life is often much more complex and beautiful than it seems within a given moment. Hopefully, time will show you the beautiful things.</p>
                    {% for word in all_or_none %}
                        <p><b>'{{ word }}'</b></p>
                    {% endfor %}
            </div>

        {% endif %}

        <br><br><br>
        {% if jump_conclusions %}
            <div class="container-fluid bg-warning mb-200">
                <h2>We've Detected Some Jumping To Conclusions</h2>
                <p>There are two key types of jumping to conclusions:<br>
                    <li><b>Mind reading:</b> (imagining we know what others are thinking)</li>
                    <li><b>Fortune Telling: (predicting the future)</b></li>
                    Both can contribute to non-productive anxiety, since in the first case, we don't actually know what people are thinking, and we might end up creating problems for ourselves. Planning may be important, but being afraid of the future and paralyzed by what it may or may not entail is also unproductive. If you feel you need to talk to someone, feel free to reach our to us, or <a href="https://adaa.org/living-with-anxiety/managing-anxiety">visit here for more resources.</a>
                </p>
                {% for word in jump_conclusions %}
                        <p><b>'{{ word }}'</b></p>
                {% endfor %}
            </div>
        {% endif %}
        <br><br><br>


        {% if should_or_must %}
        <div class="container-fluid bg-warning mb-200">
                <h2>We've Detected Some 'should', 'must', or 'ought' type of thinking.</h2>
                <p>Using these kinds of critical words can make us feel guilty or like we have already failed when in fact we are deeply capable. If we apply 'shoulds' to other people, the result is often frustration. We hope you keep in mind that humans do have physical and mental limitations. There are times when we can only be thankful for that which we are able to change, and may need to accept things that we cannot. Regardless, we believe in you!</p>
                {% for word in should_or_must %}
                        <p><b>'{{ word }}'</b></p>
                {% endfor %}
            {% endif %}
        </div>
        <br><br><br><br><br>



    </div>