{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>

      {% if title %}
        <title>{{ title }} - WriteMind</title>
      {% else %}
        <title> {{ _('Welcome to') }} WriteMind</title>
      {% endif %}
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">

      <script src="{{ url_for('static', filename = 'js/Chart.min.js') }}"></script>

  </head>

  <style>
    body {
      padding-top: 100px;
    }
    footer {
      padding-bottom: 70px;
    }
  </style>

  

  <body>
    <!-- Begin Bootstrap Header Nav Bar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
      <a class="navbar-brand" href="#">WriteMind</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item mx-0 mx-lg-2" data-toggle="collapse" data-target=".navbar-collapse">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('index') }}">{{ _('Home') }}</a>
            </li>

            {% if current_user.is_anonymous %}

            <li class="nav-item mx-0 mx-sm-2 ">
              <a class="green nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('login') }}">{{ _('Login') }}</a>
            </li>

          {% else %}

            <li class="nav-item mx-0 mx-sm-2">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user', username = current_user.username) }}">{{ _('Profile') }}</a>
            </li>
            <li class="nav-item mx-0 mx-sm-2">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('create') }}">{{ _('Compose') }}</a>
            </li>
            <li class="nav-item mx-0 mx-sm-2">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('entries', username = current_user.username) }}">{{ _('My Entries') }}</a>
            </li>
            <li class="nav-item mx-0 mx-sm-2">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('dashboard', username = current_user.username) }}">{{ _('Dashboard') }}</a>
            </li>
            <li class="nav-item mx-0 mx-sm-2">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
            </li>
            {% endif %}

          </ul>
      </div>
    </nav>
    <!-- End Bootstrap Header Nav Bar -->


    <header class="header">
    <div class="container-fluid margin-top">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        
            <div class="row">
              {% for message in messages %}
                  <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
            </div>

      {% endif %}
    {% endwith %}
    </div>
    </header>


    <div class="container">
      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    </div>




    <footer class="py-5 bg-info">
        <div class="container-fluid">
          <p class="m-0 text-center text-white"> &copy; WriteMind 2018</p>
        </div>
        <!-- /.container -->
    </footer>

  </body>

</html>
{% endblock %}

<!-- Template comes from the following URL: -->
<!-- http://getbootstrap.com/docs/4.0/examples/jumbotron/ -->
